/* RESET */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}


/* CUSTOM PROPERTIES */

:root {
    
    /* Colors */
    --color-dark: #323B32;
    --color-dark-green: #226321;
    --color-dark-brown: #633E21;
    --color-light-green: #03B800;
    --color-light-brown: #B84F00;
    --color-white: #fff;

    /* Fonts */
    --font-heading: "Indivisible", sans-serif;
    --font-text: "Bilo", sans-serif;
    --font-size: 16px;
    --font-scale: 1.333;

    --font-size-p: calc( var(--font-size) * 1.125 );
    --font-size-i: calc( var(--font-size) * 1.5 );
    --font-size-h6: calc( var(--font-size) * var(--font-scale) );
    --font-size-h5: calc( var(--font-size-h6) * var(--font-scale) );
    --font-size-h4: calc( var(--font-size-h5) * var(--font-scale) );
    --font-size-h3: calc( var(--font-size-h4) * var(--font-scale) );
    --font-size-h2: calc( var(--font-size-h3) * var(--font-scale) );
    --font-size-h1: calc( var(--font-size-h2) * var(--font-scale) );

    --line-height: 1.5;
}


/* TYPOGRAPHY */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: var(--font-heading);
    font-weight: 800;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p, 
a, 
li {
    font-family: var(--font-text);
    font-size: var(--font-size-p);
    line-height: var(--line-height);
}

a {
    text-decoration: none;
}

/* COMPONENTS */
button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}

/* Main Layout */
body {
    background-color: #323B32;
}

/* Header */
.site-header {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.branding {
    position: absolute;
    left: 50px;
}
.branding img {
    width: 200px;
    margin-bottom: 25px;
}

.menu__list {
    display: flex;
    gap: 60px;
}
.menu__item {
    font-family: var(--font-heading);
    font-size: var(--font-size-h5);
    font-weight: 600;
    color: var(--color-light-brown);
}

.menu__item:hover {
    border-bottom: 5px solid rgba(184, 80, 0, 15%);
}

.menu__item--current {
    font-weight: 800;
    border-bottom: 5px solid rgba(184, 80, 0, 35%);
}

.menu__item--current:hover {
    border-bottom: 5px solid rgba(184, 80, 0, 35%);
}

.menu-button {
    position: absolute;
    right: 50px;
}

.menu-button img {
    height: 30px;
}

/* Hero */

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(assets/images/hero-bg.png), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    background-blend-mode: overlay;
    background-size: cover;
    display: grid;
    grid-template-columns: minmax(165px, 1fr) [inner-start] minmax(0, 1705px) [inner-end] minmax(50px, 1fr);
    grid-template-rows: 1fr [center-start] 1fr [center-end footer-start] 1fr [footer-end] 90px;
}

.hero__inner {
    grid-column: inner;
    grid-row: center;
}

.hero__content {
    text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px;
}

.hero__title {
    margin-bottom: 14px;
    margin-top: 0;
}

.title-dark {
    color: var(--color-dark);
}

.title-green {
    color: var(--color-dark-green);
}

.title-brown {
    color: var(--color-dark-brown);
}

.hero__desc {
    margin-top: 0;
    line-height: 1.5;
    color: var(--color-white);
    font-weight: 500;
}

.hero__footer {
    grid-column: inner;
    grid-row: footer;
    display: flex;
    align-items: end;
}

.hero__arrow {
    margin-left: 120px;
    margin-bottom: 0px;
}

.hero__social {
    display: flex;
    gap: 35px;
    flex-direction: column;
    position: absolute;
    right: 50px;
    bottom: 90px;
}